*{
	margin: 0;
	padding: 0;
}
 .image{
	animation: fade-in;
	animation-duration: 1s;
	-webkit-animation:fade-in 1s;
}
body{
	margin:0 auto;
	min-width:1024px;
	width: 100%;
	max-width: width auto!important;
	height:100%;
}
.header{
	height: 5.0rem;
	background-color:rgba(0,0,0,0.4);
	position: sticky;
	position: -webkit-sticky;
	top: 1px; 
	min-width:1024px;
	width: 100%;
	max-width: width auto!important;
	margin:0 auto;
}
.header .inner{
	float: right;
	max-width: width auto!important;
	width: 56rem;
	margin: 0 auto;
	min-width: 1024px;
}
.header .logo{
	margin-right: 1.0rem;
	float: left;
	width: 15.0rem;
}
.header .logo img{
	width: 14.0rem;
	padding-top: 0.3rem;
	padding-left: 1.0rem;
}
.header .inner .nav{
	width: 30rem;
	margin: 0 auto;
	float: left;
}
.header .inner .nav ul{
	list-style: none;
	display: block;
	margin-top: 0.5rem;
	height: 4.0rem;
	text-align: -webkit-match-parent;
}
.header .inner .nav .menu li{
	float: left;
	width: 5.0rem;
	height: 5.0rem;
	line-height: 4.0rem;
	font-size: 1.0rem;
}
.header .inner .nav .menu .study ul{
	width: 5.0rem;
	text-align: center;
	display:none;
}
.header .inner .nav .menu .study ul li{
	width: 5rem;
	height: 2.5rem;
	overflow:hidden; 
}
.header .inner .nav .menu .study:hover ul{
	display: block;
	animation: fade-in; 
	animation-duration: 1s;
	-webkit-animation:fade-in 1s;
}
.header .inner .nav .menu .study ul li a{
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	height: 2.5rem;
	line-height: 2.5rem;
}
.header .inner .nav ul li a{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}
.header .inner .nav ul li a:hover{
	color: skyblue;
}
.header .inner .box{
	padding:0.65rem;
	float: right;
	margin-right: 0.5rem;
    margin-top: 0.5rem;
    vertical-align: middle;
    font-family: 'Microsoft YaHei';
	font-size: 0.7rem;
	width: 25rem;
}
input{
    width: 17.5rem;
    border: 0.05rem solid #e2e2e2;
	height: 1.75rem;
	float: left;
	margin-top: 0.45rem;
    background-image: url(../images/question-mark.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position:0.25rem center;
    padding:0 0 0 2.0rem;
	border-radius: 0.5rem;
	color: black;
	font-size: 1.0rem;
}
#search{
    width: 3.9rem;
	height: 1.75rem;
	float:right;
    color: white;
    text-align: center;
	line-height: 1.75rem;
	margin-top: 0.45rem;
	cursor: pointer;
	border-radius: 0.5rem;
	font-size: 1.0rem;
	background-color: hsla(0,0%,100%,.4);
} 
.text-motto{
	max-width: width auto!important;
	height: 80px;
	margin:80px auto;
	width: 1538px;
	text-align: center;
	min-width: 1024px;
}
.text-motto p{
	font-size: 45px;
	color: white;
	text-shadow:2px 2px 8px black;
	margin:0 auto;
	font-family: "楷体";
	text-shadow: 2px 2px 8px black;
	animation: fade-in;
    animation-duration: 2s; 
    -webkit-animation:fade-in 2s;
}
.text-motto sub{
	font-size: 25px;
	color: white;
	margin-left: 400px;
	text-shadow: 2px 2px 8px black;
	font-family: "楷体";
	animation: fade-in-delay;  
    animation-duration: 2s; 
    -webkit-animation:fade-in-delay 2s;
}
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}
@keyframes fade-in-delay {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    48% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in-delay {/*针对webkit内核*/  
    0% {opacity: 0;}  
    48% {opacity: 0;}  
    100% {opacity: 1;}  
}