body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 

@media screen and (max-width:767px){
	#body{
		background-color: lightgray!important;
		background-image: none!important;
	}
	.article{
		padding-left: 20px!important;
		padding-right: 20px!important;
		border-radius: 0!important;
		margin: 60px 15px 10px 15px!important;
		box-shadow: 2px 2px 5px rgba(0,0,0,.2)!important;
	}
	.innerPho img{
		border-radius: 0!important;
	}
	.bottom{
		background-color: #848484!important;
	}
	.coolapk, .bottom p{
		font-size: 10px!important;
	}
}

#body{
	background-attachment:fixed;
	background-size:cover;
	background-color: black;
	animation: fade-in;
	animation-duration: 1s;
	-webkit-animation:fade-in 1s;
}

/*导航栏*/
.logo{
	position: absolute;
    top: 10%;
	display: block;
	width: 180px;
}
.navbar{
	background-color: rgba(0,0,0,0.4);
	border:transparent;
	border-radius: 0px;
}
.navbar-brand{
	padding: 0;
}
.dropdown-menu{
	background-color: rgba(0,0,0,0.4);
	border-radius: 10px;
}
.dropdown-menu li a{
	color: white;
	text-align: center;
}
.dropdown-menu li a:hover{
	background-color: rgba(0,0,0,0.2);
	color: skyblue;
}
.ullist{
	float: right;
	margin-right: 60px;
}
.ullist li a{
	color: white!important;
}
.ullist li a:hover{
	color: skyblue!important;
}

/*格言*/
.text-motto{
	height: 80px;
	margin:140px auto 60px auto;
	width: 100%;
	text-align: center;
}
.text-motto p a{
	text-decoration: none;
	color: white;
}
.text-motto p{
	font-size: 45px;
	color: white;
	text-shadow:2px 2px 8px black;
	margin:0 auto;
	font-family: "楷体";
	animation: fade-in;
    animation-duration: 2s;
    -webkit-animation:fade-in 2s;
}
.text-motto sub{
	font-size: 25px;
	color: white;
	margin-left: 400px;
	text-shadow: 2px 2px 8px black;
	font-family: "楷体";
	animation: fade-in-delay;
    animation-duration: 2s;
    -webkit-animation:fade-in-delay 2s;
}

/*正文*/
.article{
	padding-left: 60px;
	padding-right: 60px;
	background-color: hsla(0,0%,100%,.9);
	border-radius: 10px;
	margin-top: 60px;
	margin-bottom: 50px;
}
.article-title{
	padding-top: 20px;
	font-size: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}
.article-title img{
	width: 25px;
	height: 25px;
}
.article-title .author{
	font-size: 15px;
	color: gray;
	margin-bottom: 20px;
}
.article-body p{
	letter-spacing: 2px;
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}
.article-body h2{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.innerPho{
	border-radius: 10px;
	margin:0 auto;
}
.innerPho img{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.article-footer{
	height: 30px;
}

/*返回顶部按钮*/
.returnTop{
	position:fixed;
	right:30px;
	bottom:30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 8px 8px 5px rgba(0,0,0,.2);
}
.returnTop:hover{
	background-color:#c6dbeb;
	animation: fade-in;
	animation-duration: 0.3s;
	-webkit-animation:fade-in 0.3s;
}
.returnTop img{
	width: 50px;
	height: 50px;
}

/* 换文章 */
.changepage{
	opacity: 30%;
	position:fixed;
	width: 50px;
	height: 50px;
	left: 30px;
	border-radius: 50%;
	box-shadow: 8px 8px 5px rgba(0,0,0,.2);
	top:45%;
}
.changepage img{
	width: 50px;
	height: 50px;
}
.changepage:hover{
	opacity: 100%;
}
.changepagenext{
	opacity: 30%;
	position:fixed;
	float: right;
	width: 50px;
	height: 50px;
	right: 30px;
	border-radius: 50%;
	box-shadow: 8px 8px 5px rgba(0,0,0,.2);
	top:45%;
}
.changepagenext img{
	width: 50px;
	height: 50px;
	transform: rotateY(180deg);
}
.changepagenext:hover{
	opacity: 100%;
}

/*页面底栏*/
.container-fluid{
	padding: 0;
}
.bottom{
	float: left;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	padding-top: 20px;
}
.bottom #bottom-inner span{
	color: #ABABAB;
}
.bottom #bottom-inner{
	color: #ABABAB;
	float: left;
}
.coolapk, .bottom p{
	text-align: center;
	color: #ABABAB;
	font-size: 16px;
	text-decoration: none;
}
.bottom p a:hover{
	color: skyblue;
}
.bold{
	font-weight:bold;
}

/*animation*/
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}
@keyframes fade-in-delay {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    48% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in-delay {/*针对webkit内核*/  
    0% {opacity: 0;}  
    48% {opacity: 0;}  
    100% {opacity: 1;}  
}