body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 
 .image{
	animation: fade-in;/*动画名称*/  
	animation-duration: 1s;/*动画持续时间*/  
	-webkit-animation:fade-in 1s;/*针对webkit内核*/ 
}
body{
	margin:0 auto;
	min-width:1024px;
	width: 100%;
	max-width: width auto!important;
	height:100%;
	overflow-x: hidden;
}
.header{
	height: 5.0rem;
	background-color:rgba(0,0,0,0.4);
	position: sticky;
	position: -webkit-sticky;
	top: 1px; 
	min-width:1024px;
	width: 100%;
	max-width: width auto!important;
	margin:0 auto;
}

.header .logo{
	margin-right: 1.0rem;
	float: left;
	width: 15.0rem;
}
.header .logo img{
	width: 14.0rem;
	padding-top: 0.3rem;
	padding-left: 1.0rem;
}
.header .nav{
	width: 30rem;
	margin:0 55px;
	float: right;
}
.header .nav ul{
	list-style: none;
	display: block;
	margin-top: 0.5rem;
	height: 4.0rem;
	text-align: -webkit-match-parent;
}
.header  .nav .menu li{
	float: left;
	width: 5.0rem;
	height: 5.0rem;
	line-height: 4.0rem;
	font-size: 1.0rem;
}
.header  .nav .menu .study ul{
	width: 5.0rem;
	text-align: center;
	display:none;
}
.header  .nav .menu .study ul li{
	width: 5rem;
	height: 2.5rem;
	overflow:hidden; 
}
.header .nav .menu .study ul li:hover{
	background-color: rgba(0,0,0,0.2);
}
.header  .nav .menu .study:hover ul{
	display: block;
	animation: fade-in; 
	animation-duration: 0.5s;
	-webkit-animation:fade-in 0.5s;
}
.header .nav .menu .study ul li a{
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	height: 2.5rem;
	line-height: 2.5rem;
}
.header .nav ul li a{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}
.header .nav ul li a:hover{
	color: skyblue;
}
.header .box{
	padding:0.65rem;
	float: right;
	max-width: width auto!important;
	margin-right: 0.5rem;
    margin-top: 0.5rem;
    vertical-align: middle;
    font-family: 'Microsoft YaHei';
	font-size: 0.7rem;
	width: 25rem;
}
.text-motto{
	max-width: width auto!important;
	height: 80px;
	margin:80px 0 80px 0;
	width: 1538px;
	text-align: center;
	min-width: 1024px;
}
.text-motto p{
	font-size: 45px;
	color: white;
	text-shadow:2px 2px 8px black;
	margin:0 auto;
	font-family: "楷体";
	text-shadow: 2px 2px 8px black;
	animation: fade-in;/*动画名称*/  
    animation-duration: 2s;/*动画持续时间*/  
    -webkit-animation:fade-in 2s;/*针对webkit内核*/  
}
.text-motto p a{
	text-decoration: none;
	color: white;
}
.text-motto sub{
	font-size: 25px;
	color: white;
	margin-left: 400px;
	text-shadow: 2px 2px 8px black;
	font-family: "楷体";
	animation: fade-in-delay;/*动画名称*/  
    animation-duration: 2s;/*动画持续时间*/  
    -webkit-animation:fade-in-delay 2s;/*针对webkit内核*/ 
}
.article{
	background-color: hsla(0,0%,100%,.8);
	margin:0 auto;
	padding-bottom: 20px;
	border-radius: 10px;
	min-width: 959px;
	max-width: width auto!important;
}
.article-title{
	padding-top: 20px;
	font-size: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}
.article-title .author{
	font-size: 15px;
	color: gray;
	margin-bottom: 20px;
}
.article-body p{
	letter-spacing: 3px;
	font-size: 16px;
	text-align: left;
	margin-bottom: 5px;
}
.article-body h2{
	font-size: 20px;
}
.innerPho{
	border-radius: 10px;
	margin:0 auto;
}
.innerPho img{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.article-footer{
	height: 50px;
}

.returnTop{
	position:fixed;
	right:30px;
	bottom:30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 8px 8px 5px rgba(0,0,0,.2);
}
.returnTop:hover{
	background-color:hsla(0,0%,100%,.8);
	animation: fade-in;/*动画名称*/  
	animation-duration: 0.3s;/*动画持续时间*/  
	-webkit-animation:fade-in 0.3s;/*针对webkit内核*/ 
}
.returnTop img{
	width: 50px;
	height: 50px;
}
.bottom{
	max-width: auto!important;
	height: 180px;
	background-color: rgba(0,0,0,0.4);
	padding-top: 30px;
	min-width: 1024px;
}
.bottom #bottom-inner span{
	color: #ABABAB;
}
.bottom #bottom-inner{
	color: #ABABAB;
	float: left;
}
.coolapk, .bottom p{
	text-align: center;
	color: #ABABAB;
	font-size: 16px;
	text-decoration: none;
}
.bottom p a:hover{
	color: skyblue;
}
.bold{
	font-weight:bold;
}
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}
@keyframes fade-in-delay {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    48% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in-delay {/*针对webkit内核*/  
    0% {opacity: 0;}  
    48% {opacity: 0;}  
    100% {opacity: 1;}  
}