body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 
body{
	margin:0 auto;
	min-width:1024px;
	width: 100%;
	max-width: width auto!important;
	height:100%;
	animation: fade-in;/*动画名称*/  
	animation-duration: 1s;/*动画持续时间*/  
	-webkit-animation:fade-in 1s;/*针对webkit内核*/ 
	overflow-x: hidden;
}
.header{
	height: 5.0rem;
	background-color:rgba(0,0,0,0.4);
	position: fixed;
	top: 0px; 
	min-width:1024px;
	width: 100%;
	max-width: width auto!important;
}
.header .logo{
	margin-right: 1.0rem;
	float: left;
	width: 15.0rem;
}
.header .logo img{
	width: 14.0rem;
	padding-top: 0.3rem;
	padding-left: 1.0rem;
}
.header .nav{
	width: 30rem;
	margin:0 55px;
	float: right;
}
.header .nav ul{
	list-style: none;
	display: block;
	margin-top: 0.5rem;
	height: 4.0rem;
	text-align: -webkit-match-parent;
}
.header  .nav .menu li{
	float: left;
	width: 5.0rem;
	height: 5.0rem;
	line-height: 4.0rem;
	font-size: 1.0rem;
}
.header  .nav .menu .study ul{
	width: 5.0rem;
	text-align: center;
	display:none;
}
.header  .nav .menu .study ul li{
	width: 5rem;
	height: 2.5rem;
	overflow:hidden; 
}
.header .nav .menu .study ul li:hover{
	background-color: rgba(0,0,0,0.2);
}
.header  .nav .menu .study:hover ul{
	display: block;
	animation: fade-in; 
	animation-duration: 0.5s;
	-webkit-animation:fade-in 0.5s;
}
.header .nav .menu .study ul li a{
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	height: 2.5rem;
	line-height: 2.5rem;
}
.header .nav ul li a{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}
.header .nav ul li a:hover{
	color: skyblue;
}
.text-motto{
	max-width: width auto!important;
	height: 80px;
	margin:160px auto 80px auto;
	width: 100%;
	text-align: center;
	min-width: 1024px;
}
.text-motto p a{
	text-decoration: none;
	color: white;
}
.text-motto p{
	font-size: 45px;
	color: white;
	text-shadow:2px 2px 8px black;
	margin:0 auto;
	font-family: "楷体";
	animation: fade-in;/*动画名称*/  
    animation-duration: 2s;/*动画持续时间*/  
    -webkit-animation:fade-in 2s;/*针对webkit内核*/  
}
.text-motto sub{
	font-size: 25px;
	color: white;
	margin-left: 400px;
	text-shadow: 2px 2px 8px black;
	font-family: "楷体";
	animation: fade-in-delay;/*动画名称*/  
    animation-duration: 2s;/*动画持续时间*/  
    -webkit-animation:fade-in-delay 2s;/*针对webkit内核*/ 
}
.home_article{
	margin: 0 auto;
	min-width: 959px;
	max-width: width auto!important;
}
.home_article .left{
	float: left;
}
.home_article .left .left-block{
	height: 280px;
	background-color: hsla(0,0%,100%,.9);
	box-shadow: 8px 8px 5px rgba(0,0,0,.2);
	margin: 0px 0px 30px 0px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.home_article .left .left-block .text{
	float: right;
	height: 55%;
	width: 50%;
	margin: 25px 25px 25px 0px;
	text-align: justify;
	text-justify: newspaper;
	word-break: break-all;
}
.home_article .left .left-block .text .sprite{
	width: 50px;
	height: 21px;
	margin-right: 5px;
	vertical-align: middle; 
}
.home_article .left .left-block .text a{
	text-decoration: none;
	font-size: 21px;
	color: black;
}
.home_article .left .left-block .text a p{
	margin-bottom: 20px;
}
.home_article .left .left-block .text a:hover{
	color: #4876FF; 
}
.home_article .left .left-block a .img{
	width: 35%;
	height: 60%;
	float: left;
	border-radius: 5px;
    margin: 30px;
	border:2px solid gray;
}
.home_article .left .left-block .footer{
	width: 80%;
	height: 40px;
	float: left;
	margin:0 10%;
	border-top:1px solid gray;
}
.home_article .left .left-block .footer p{
	float: left; 
	margin-top:10px;
	margin-right: 20px;
	color: #666;
}
.home_article .left .left-block .footer p img{
	height: 20px; 
	width:20px; 
	float: left; 
}
.home_article .left .left-block .footer a img{
	height: 25px; 
	width:25px; 
	float: right; 
}
.home_article .left .left-block .footer a{
	float: right;
	margin-top:10px;
	text-decoration: none;
	color: #666;
}
.home_article .left .left-block .footer a:hover{
	color: #4876FF; 
}
.home_article .right{
	float: right;
	margin:0px 60px 0px 30px;
}
.home_article .right .right-block{
	height: 315px;
	margin:0px 20px 0px 0px;
	background-color: #FFFFCC;
	margin-bottom: 20px;
	border-radius: 5px;
}
.home_article .right .right-block .right-block-header{
	height: 157px;
	width: 100%; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px;
}
.home_article .right .right-block .avatar{
	margin: -50px 37% 0;
    max-height: 90px;
    border: rgba(255,255,255,.4) 4px solid;
    border-radius: 50%;
    width: 82px;
    height: 82px;
}
 .home_article .right .right-block p{
	margin: 5px 10px;
    font-family: 'Microsoft YaHei';
	font-size: 16px;
	color: #363636;
	line-height:27px;
	text-align: justify;
	text-justify: newspaper;
	word-break: break-all;
}
 .home_article .right .right-block sub{
	margin: 2px auto;
	float: right;
	color: #555555;
    font-family: 'Microsoft YaHei';
}

.returnTop{
	position:fixed;
	right:30px;
	bottom:30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 8px 8px 5px rgba(0,0,0,.2);
}
.returnTop:hover{
	background-color:hsla(0,0%,100%,.8);
	animation: fade-in;/*动画名称*/  
	animation-duration: 0.3s;/*动画持续时间*/  
	-webkit-animation:fade-in 0.3s;/*针对webkit内核*/ 
}
.returnTop img{
	width: 50px;
	height: 50px;
}
.bottom{
	float: left;
	max-width: auto!important;
	width: 100%;
	height: 180px;
	background-color: rgba(0,0,0,0.4);
	padding-top: 30px;
	min-width: 1024px;
}
.bottom #bottom-inner span{
	color: #ABABAB;
}
.bottom #bottom-inner{
	color: #ABABAB;
	float: left;
}
.coolapk, .bottom p{
	text-align: center;
	color: #ABABAB;
	font-size: 16px;
	text-decoration: none;
}
.bottom p a:hover{
	color: skyblue;
}
.bold{
	font-weight:bold;
}
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}
@keyframes fade-in-delay {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    48% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in-delay {/*针对webkit内核*/  
    0% {opacity: 0;}  
    48% {opacity: 0;}  
    100% {opacity: 1;}  
}