body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; } 

@media screen and (max-width:767px){
	#body{
		background-color: lightgray!important;
		background-image: none!important;
	}
	.article{
		margin-bottom: 15px!important;
	}
	.container-fluid a{
		padding: 0!important;
	}
	.blockPho{
		border-radius: 0!important;
		border: transparent!important;
		margin: 0!important;
	}
	.left .left-block{
		border-radius: 0!important;
	}
	.left .left-block .footer p{
		margin-right: 0!important;
	}
	.bottom{
		background-color: #848484!important;
	}
	.coolapk, .bottom p{
		font-size: 10px!important;
	}
}

#body{
	background-attachment:fixed;
	background-size:cover;
	background-color: black;
	animation: fade-in;
	animation-duration: 1s;
	-webkit-animation:fade-in 1s;
}
/*导航栏*/
.logo{
	width: 170px;
}
.navbar{
	background-color: rgba(0,0,0,0.4);
	border:transparent;
	border-radius: 0px;
}
.navbar-brand{
	padding: 0;
}
.dropdown-menu{
	background-color: rgba(0,0,0,0.4);
	border-radius: 10px;
}
.dropdown-menu li a{
	color: white;
	text-align: center;
}
.dropdown-menu li a:hover{
	background-color: rgba(0,0,0,0.2);
	color: skyblue;
}
.ullist{
	float: right;
	margin-right: 60px;
}
.ullist li a{
	color: white!important;
}
.ullist li a:hover{
	color: skyblue!important;
}

/*格言*/
.text-motto{
	height: 80px;
	margin:140px auto 60px auto;
	width: 100%;
	text-align: center;
}
.text-motto p a{
	text-decoration: none;
	color: white;
}
.text-motto p{
	font-size: 45px;
	color: white;
	text-shadow:2px 2px 8px black;
	margin:0 auto;
	font-family: "楷体";
	animation: fade-in;
    animation-duration: 2s;
    -webkit-animation:fade-in 2s;
}
.text-motto sub{
	font-size: 25px;
	color: white;
	margin-left: 400px;
	text-shadow: 2px 2px 8px black;
	font-family: "楷体";
	animation: fade-in-delay;
    animation-duration: 2s;
    -webkit-animation:fade-in-delay 2s;
}

/*正文*/
.article{
	margin-bottom: 50px;
}
.left{
 	padding: 0;
 	margin-top: 60px;
}
.left .left-block{
	background-color: hsla(0,0%,100%,.9);
	box-shadow: 8px 8px 5px rgba(0,0,0,.2);
	margin: 0px 0px 30px 0px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.blockPho{
	display: block;
	width: 100%;
	margin: 20px 0 10px 0;
	border-radius: 5px;
	border: 1px solid gray;
}
.left .left-block .text{
	display: block;
	padding: 20px; 
}
.left .left-block .text a p{
	margin-bottom: 5px;
}
.left .left-block .text a p .sprite{
	width: 50px;
	height: 21px;
	margin-right: 5px;
	vertical-align: middle; 
}
.left .left-block .text a{
	text-decoration: none;
	font-size: 20px;
	color: black;
}
.left .left-block .text a:hover{
	color: #4876FF; 
}

.left .left-block .footer{
	width: 80%;
	height: 40px;
	margin:0 10%;
	border-top:1px solid lightgray;
}
.left .left-block .footer p{
	width: 100px!important;
	padding: 0;
	float: left; 
	margin-top:10px;
	margin-right: 20px;
	color: #666;
	width: 90px;
	font-size: 13px;
}
.left .left-block .footer p::before{
	vertical-align: middle;
	margin-right: 5px;
}
.left .left-block .footer a{
	width: 70px;
	padding: 0;
	float: right;
	margin-top:10px;
	text-decoration: none;
	color: #666;
	font-size: 13px;
}
.left .left-block .footer a::before{
	vertical-align: middle;
	margin-right: 5px;
	float: right; 
}
.left .left-block .footer a:hover{
	color: #4876FF; 
}
.right{
	float: right;
	padding: 0 0 0 40px;
 	margin-top: 60px;
}
.right .right-block{
	height: 300px;
	background-color: #FFFFCC;
	margin-bottom: 20px;
	border-radius: 5px;
}
.right .right-block .right-block-header{
	height: 50%;
	width: 100%; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px;
}
.right .right-block .avatar{
	margin: -45px 38% 0;
    max-height: 90px;
    border: rgba(255,255,255,.4) 4px solid;
    border-radius: 50%;
    width: 82px;
    height: 82px;
}
.right .right-block p{
	margin: 5px 10px;
    font-family: 'Microsoft YaHei';
	font-size: 16px;
	color: #363636;
	line-height:27px;
	/*换行文字左对齐*/
	/*text-align: justify;
	text-justify: newspaper;
	word-break: break-all;*/
} 
.right .right-block a p:hover{
	color: #4876FF;
}
.right .right-block sub{
	margin: 2px 10px;
	float: right;
	font-size: 12px;
	color: #555555;
    font-family: 'Microsoft YaHei';
}
.right .right-block .right-block-inner{
	width: 84%;
	height: 400px;
	margin:0 auto;
	border-top:1px solid grey;
}

/*返回顶部按钮*/
.returnTop{
	position:fixed;
	right:30px;
	bottom:30px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	box-shadow: 8px 8px 5px rgba(0,0,0,.2);
}
.returnTop:hover{
	background-color:hsla(0,0%,100%,.8);
	animation: fade-in;
	animation-duration: 0.3s;
	-webkit-animation:fade-in 0.3s;
}
.returnTop img{
	width: 50px;
	height: 50px;
}

/*页面底栏*/
.container-fluid{
	padding: 0;
}
.bottom{
	float: left;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	padding-top: 20px;
}
.bottom #bottom-inner span{
	color: #ABABAB;
}
.bottom #bottom-inner{
	color: #ABABAB;
	float: left;
}
.coolapk, .bottom p{
	text-align: center;
	color: #ABABAB;
	font-size: 16px;
	text-decoration: none;
}
.bottom p a:hover{
	color: skyblue;
}
.bold{
	font-weight:bold;
}

/*animation*/
@keyframes fade-in {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    40% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in {/*针对webkit内核*/  
    0% {opacity: 0;}  
    40% {opacity: 0;}  
    100% {opacity: 1;}  
}
@keyframes fade-in-delay {  
    0% {opacity: 0;}/*初始状态 透明度为0*/  
    48% {opacity: 0;}/*过渡状态 透明度为0*/  
    100% {opacity: 1;}/*结束状态 透明度为1*/  
}  
@-webkit-keyframes fade-in-delay {/*针对webkit内核*/  
    0% {opacity: 0;}  
    48% {opacity: 0;}  
    100% {opacity: 1;}  
}