*{
	margin: 0;
	padding: 0;
}
body{
	overflow: auto;
}
.header{
	height: 4.0rem;/*160px*/
	background-color:rgba(0,0,0,0.4);
	position: sticky;
	position: -webkit-sticky;
	top: 1px; 
}
.header .logo{
	margin-right: 1.0rem;
	float: left;
	width: 11rem;
}
.header .logo img{
	width: 11rem;
	padding-top: 0.4rem;
	padding-left: 0.6rem;
}
.header .inner{
	float: right;
	width: 57.0rem;
	margin: 0 auto;
}
.header .inner .nav{
	float: left;
	width: 30rem;
	margin: 0 auto;
}
.header .inner .nav ul{
	width: 30.0rem;
	list-style: none;
	display: block;
	margin-top: 0rem;
	height: 3.125rem;
	text-align: -webkit-match-parent;
}
.header .inner .nav .menu li{
	float: left;
	width: 5.0rem;
	height: 3.125rem;
	line-height: 4.0rem;
	font-size: 1.0rem;
}
.header .inner .nav .menu .study ul{
	width: 5.0rem;
	text-align: center;
	display:none;
}
.header .inner .nav .menu .study ul li{
	width: 5.0rem;
	height: 2.3rem;
	overflow:hidden; 
}
.header .inner .nav .menu .study ul li:hover{
	background-color: hsla(0,0%,100%,0.8);
}
.header .inner .nav .menu .study ul li a{
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	height: 2.3rem;
	line-height: 2.3rem;
}
.header .inner .nav ul li a{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}
.header .inner .nav ul li a:hover{
	color: skyblue;
}
.header .inner .box{
	padding:0.65rem;
	float: right;
	margin-right: 0.5rem;
    margin-top: 0.5rem;
    vertical-align: middle;
    font-family: 'Microsoft YaHei';
    font-size: 0.7rem;
}
input{
    width: 17.5rem;
    border: 0.05rem solid #e2e2e2;
	height: 1.80rem;
	float: left;
	margin-top: 0rem;
	margin-right: 0.2rem;
    background-image: url(../images/question-mark.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position:0.25rem center;
    padding:0 0 0 2.0rem;
	border-radius: 0.5rem;
	color: black;
	font-size: 1.0rem;
}
#search{
    width: 3.9rem;
	height: 1.8rem;
	float:right;
    color: white;
    text-align: center;
	line-height: 1.75rem;
	margin-top: 0rem;
	cursor: pointer;
	border-radius: 0.5rem;
	font-size: 1.0rem;
	background-color: orange;
}
.text-motto{
	width: 100%;
	height: 80px;
	margin-top: 80px;
	margin-bottom: 80px;
	text-align: center;
}
.text-motto p{
	font-size: 40px;
	color: white;
	margin-right: 380px;
}
.text-motto sub{
	font-size: 25px;
	color: white;
	padding-left: 30px;
}

.home_article{
	width: 80%;
	height: 2700px;
	margin:0 auto;
}
.home_article .left{
	width: 70%;
	float: left;
	height: 2700px;
}
.home_article .left .left-block{
	width: 90%;
	height: 280px;
	background-color: #E0FFFF;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 20px;

}
.home_article .left .left-block a img{
	width: 35%;
	height: 60%;
	border-radius: 5px;
    margin: 30px;
	border:2px solid gray;
}
.home_article .right{
	width: 30%;
	float: right;
	height: 2680px;
}
.home_article .right .right-block{
	width: 100%;
	height: 315px;
	margin:0 auto;
	background-color: #FFFFCC;
	margin-bottom: 20px;
	border-radius: 5px;
}

.home_article .right .right-block .right-block-header{
	height: 157px;
	width: 100%; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px;
}
.home_article .right .right-block .avatar{
	margin: -50px 37% 0;
    max-height: 90px;
    border: rgba(255,255,255,.4) 4px solid;
    border-radius: 50%;
    width: 82px;
    height: 82px;
}
.home_article .right .right-block p{
	margin: 5px 10px;
    font-family: 'Microsoft YaHei';
	font-size: 16px;
	color: #363636;
    line-height:27px;
    -webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 2s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
 .home_article .right .right-block sub{
	margin-bottom: 2px;
	float: right;
	color: #555555;
    font-family: 'Microsoft YaHei';
    -webkit-animation-name: fadeIn; /*动画名称*/
	-webkit-animation-duration: 2s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
.bottom{
	width: 100%;
	height: 300px;
	background-color: rgba(0,0,0,0.4);
}
.bottom p{
	text-align: center;
	color: #ABABAB;
	font-size: 16px;
}

@-webkit-keyframes fadeIn {
0% {
opacity: 0; /*初始状态 透明度为0*/
}
50% {
opacity: 0; /*中间状态 透明度为0*/
}
100% {
opacity: 1; /*结尾状态 透明度为1*/
}
}