<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="X-UA-Compatible" content="IE=5">
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="X-UA-Compatible" content="IE=8">
		<meta name="keywords" content="编程,学习,旅游,摄影,每天好图,软件推荐">
		<meta name="description" content="编程学习无忧,旅行达人分享生活,记录生活的美好时光">
		<title>orgLoft | 小K同學和DD-fighter的网站，编程学习无忧，旅行达人分享生活，摄影记录生活的美好时光</title>
		<link rel="stylesheet icon" href="images/d.ico"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/homeStyle.css" />
	    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="js/jQuery.js"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/function.js"></script>
        <script type="text/javascript" src="https://api.ooopn.com/history/api.php?type=js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script src="js/layer.js"></script>
	    <script type="text/javascript">
			var i=-1;
			function changeimg(){
				var images=['1.jpg','2.jpg','3.jpg','4.jpg','5.jpg','6.jpg','7.jpg','8.jpg','9.jpg','10.jpg','11.jpg','12.jpg','13.jpg','14.jpg','15.jpg','16.jpg','17.jpg','18.jpg','19.jpg','20.jpg','21.jpg'];
				if(i<images.length-1){
					i++;
				}else{
					i=0;
				}
				var body=document.getElementById("body");
			    body.style.backgroundImage="url(images/"+images[i]+")";
			}

            function show(){
                if ($('#donateBox').css('display') == 'none') {
                    $('#donateBox').css('display', 'block');
                    document.getElementById("Dtext").innerHTML = "不请X(";
                } else {
                    $('#donateBox').css('display', 'none');
                    document.getElementById("Dtext").innerHTML = "请我喝杯饮料吧!";
                }
            }
            function xs_donate_close(){
                $('#xs_donate').css('display', 'none');
            }
            function pay(){
                layer.photos({
                photos: '#lg_donate',
                anim: 4
                }); 
                layer.photos({
                photos: '#xs_pay',
                anim: 3
                }); 
            }
		</script>
	</head>

	<body id="body" onload="randomApi()">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="index.html"><img class="logo" src="images/logo.png"></a>
        	 <!-- <a class="navbar-brand visible-xs" href="index.html"><img class="logo" src="images/dianxie4.png" alt=""></a> -->
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#shownav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <ul id="shownav" class="ullist nav navbar-nav collapse navbar-collapse">
                	<li>
                        <a class="dropdown" data-toggle="dropdown" href="">编程学习<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="page/C.html">C</a></li>
                            <li><a href="page/Java.html">Java</a></li>
                            <li><a href="page/Python.html">Python</a></li>
                            <li><a href="page/JavaScript.html">JavaScript</a></li>
                            <li><a href="page/Web.html">Web</a></li>
                        </ul>
                    </li>
                    <li><a href="page/Linux.html">Linux系统</a></li>
                    <li><a href="page/software.html">好软推荐</a></li>
                    <li><a href="page/photograph.html">摄影修炼</a></li>
                    <li><a href="page/travel.html">云旅游</a></li>
                    <li><a href="https://api.xygeng.cn/bing/1920.php" target="_blank">每日一图</a></li>
                    <li class=" hidden-xs hidden-sm"><a href="javascript:changeimg()">换肤</a></li>
                </ul>
            </div>
    	</div>

    	<div class="text-motto hidden-xs">
			<p><a href="index.html">倘只看书，便变成书橱。</a></p><sub>— —鲁迅</sub>
		</div>
    	<div class="article container">
    		<div class="left col-md-8">
                    <div class="searchBlockSM visible-xs visible-sm">
                            <p>站内搜索</p>
                        <div class="searchBlockSM-inner">
                            <form id="mainSM" v-cloak onsubmit="return false">
                                <div class="searchBoxSM">
                                    <input id="searchInputSM" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1" type="text" v-model="searchString" placeholder="Hello World !" onkeydown="searchEnterSM()"/>
                                    <p id="search_pSM" onclick="searchClickSM()">搜索</p>
                                </div>
                                <ul style="display: none;" id="searchListSM" class="searchList">
                                    <!-- 循环输出数据 -->
                                    <li v-for="article in filteredArticles">
                                        <a target="_blank" v-bind:href="article.url"><p>{{article.title}}</p></a>
                                    </li>
                                </ul>
                            </form>
                            <script>searchSM()</script>
                        </div>
                    </div>
					<div id="show1" class="left-block"></div>
					<div id="show2" class="left-block"></div>
					<div id="show3" class="left-block"></div>
					<div id="show4" class="left-block"></div>
					<div id="show5" class="left-block"></div>
					<div id="show6" class="left-block"></div>
					<div id="show7" class="left-block"></div>
					<div id="show8" class="left-block"></div>
                    <div id="show9" class="left-block"></div>
                    <div id="xs_donate" class="left-block hidden-sm hidden-md hidden-lg">
                        <div class="container-fluid">
                            <div id="xs_pay">
                                <img onclick="pay()" class="ol-xs-12" style="float: left;width: 50%;" class="blockPho" src="images/pay1.png" alt="@_小K同學">
                                <img onclick="pay()" class="ol-xs-12" style="float: left;width: 50%;" class="blockPho" src="images/pay2.png" alt="@DD_fighter">
                            </div>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="##"><p><img class="sprite" src="images/donate.png">请我喝杯饮料吧！</p></a>
                            <span id="qianyan">支持是给予我们最大的动力~</span>
                        </div>
                    </div>
                    <div class="footer">
                        <p style="width: 160px!important;" id="date2" class="col-xs-2 glyphicon glyphicon-calendar"></p>
                        <a style="width: 60px;" onclick="xs_donate_close()" class="col-xs-2 glyphicon glyphicon-chevron-right" href="##">不请X(</a>
                    </div>
                    </div>

    			<div class="left-block" id="movie1">
    				<div class="container-fluid">
    					<a class="col-md-5 col-sm-12 col-xs-12" href="page/travel4.html"><img class="blockPho" src="images/travel4/1.jpg"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/travel4.html"><p><img class="sprite" src="images/travel.png" alt="">多元文化交融的国度，马来西亚了解一下（一）--“垮拉隆坡”初印象</p></a>
							<span class="qianyan">马来西亚属于东南亚，分为东马和西马两大块，中间隔着我们中国南海。西马和新加坡、泰国联通，可以在吉隆坡坐火车直接进入泰国/新加坡；东马下面连着的是印尼的各个岛屿。西马在我印象是融合了我国广东香港或闽南地区的文化，因为马来华人很多都是从中国的福建和广东去的，所以就包含了闽南的文化，还有广府口味。而东马则是一个度假王国，仙本那最为著名，你可以感受海洋的自由，也是潜水爱好者的天堂。奈何一个在东马一个在西马，穷游原因，本次旅行不能两全。
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-11</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">145浏览量</p>
						<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/travel4.html">阅读全文</a>
    				</div>
    			</div>
    			<div class="left-block" id="movie2">
    				<div class="container-fluid">
    					<a class="col-md-5 col-sm-12 col-xs-12" href="page/Java3.html"><img class="blockPho" src="images/Java1/2.jpg"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/Java3.html"><p><img class="sprite" src="images/program.png" alt="">Java:new一个对象的过程中发生了什么？</p></a>
							<span class="qianyan">java在new一个对象的时候，会先查看对象所属的类有没有被加载到内存，如果没有的话，就会先通过类的全限定名来加载。加载并初始化类完成后，再进行对象的创建工作。
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-3</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">642浏览量</p>
						<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Java3.html">阅读全文</a>
    				</div>
				</div>
    			<div class="left-block" id="movie3">
    				<div class="container-fluid">
    					<a class="col-md-5 col-sm-12 col-xs-12" href="page/photograph.html"><img class="blockPho" src="https://img.xjh.me/random_img.php?type=bg&ctype=nature&return=302"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/photograph.html"><p><img class="sprite" src="images/photograph.png" alt="">摄影修炼</p></a>
							<span id="qianyan">树叶慢慢地变得枯黄，带着一丝渴望，但同时也带着期待的激动，我们一边期待秋天，一边告别夏天。<br>摄影修炼，用摄影分享生活中的每一点美好，用摄影记录旅行中每一点难忘。点击进入摄影修炼专题，不定期更新中......
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-1</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">112浏览量</p>
						<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/photograph.html">阅读全文</a>
    				</div>
    			</div>

    			<div class="left-block" id="movie4">
    				<div class="container-fluid">
    					<a target="_blank" class="col-md-5 col-sm-12 col-xs-12" href="https://pan.baidu.com/s/1Yw5u-OIqXFACyUMTILdO2g" target="_black"><img class="blockPho" src="images/C/4.jpg"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" target="_blank" href="https://pan.baidu.com/s/1Yw5u-OIqXFACyUMTILdO2g" target="_black"><p><img class="sprite" src="images/doc.png" alt="">C语言学习资料---满满的干货</p></a>
							<span id="qianyan">今天给大家提供C语言好多干货，提取码：4bku ^_^
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-9</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">558浏览量</p>
						<a target="_blank" class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="https://pan.baidu.com/s/1Yw5u-OIqXFACyUMTILdO2g" target="_black">阅读全文</a>
    				</div>
				</div>

    			<div class="left-block" id="movie5">
    				<div class="container-fluid">
    					<a class="col-md-5 col-sm-12 col-xs-12" href="page/program1.html"><img class="blockPho" src="images/program2/1.jpg"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/program1.html"><p><img class="sprite" src="images/program.png" alt="">程序猿国庆相亲图鉴</p></a>
							<span class="qianyan">国庆节，你妈逼你相亲了吗？程序员，已经渐渐成为当代相亲市场的一支主力军！甚至可以说是“香饽饽”。越来越多的妹子，在写择偶要求时，会说对程序员有好感。因为他们，他是聪明又靠谱，钱多花花肠子少。但是关于程序员谈恋爱的“笑点”也不少，一起来看看吧~
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-2</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">64浏览量</p>
						<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/program1.html">阅读全文</a>
    				</div>
    			</div>

    			<div class="left-block" id="movie6">
    				<div class="container-fluid">
    					<a class="col-md-5 col-sm-12 col-xs-12" href="page/software2.html"><img class="blockPho" src="images/software2/2.png"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/software2.html"><p><img class="sprite" src="images/software.png" alt="">好软推荐第二期---Via浏览器</p></a>
							<span class="qianyan">前言：Via浏览器，开发者是一名个人开发者，他开发的软件最大的特点就是体积小！
								有多小呢？你们会问了，请看本期推荐的Via浏览器。软件本体取名也很简单，Via的中文意思为“连接”，可能作者的本意是connect everywhere吧，小软件也有大理想啊！废话不多说，赶紧上图看看本尊！(文章末尾有干货哦~)
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-4</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">124浏览量</p>
						<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/software2.html">阅读全文</a>
    				</div>
    			</div>
    			<div class="left-block" id="movie7">
    				<div class="container-fluid">
    					<a class="col-md-5 col-sm-12 col-xs-12" href="page/C4.html" ><img class="blockPho" src="images/C/5.jpg"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/C4.html"><p><img class="sprite" src="images/program.png" alt="">C语言基础知识整理</p></a>
							<span class="qianyan">在这里所有关于C语言的基础知识都会讲到，大家可要认真阅读哦~
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-10</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">618浏览量</p>
						<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/C4.html">阅读全文</a>
    				</div>
    			</div>
    			<div class="left-block" id="movie8">
    				<div class="container-fluid">
    					<a class="col-md-5 col-sm-12 col-xs-12" href="page/travel3.html"><img class="blockPho" src="images/travel3/1.jpg"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/travel3.html"><p><img class="sprite" src="images/travel.png" alt="">[小K周围走]唔同角度睇香港（一）--港岛北</p></a>
							<span class="qianyan">好久不见，是我小K同学~
							暑假不知不觉已经过半，本K整个7月大部分时间都在家里修行(没办法，热爱学习的我)，到了8月当然是出去耍啦。好了接下来开始8月第一站行程。
							不知道大家对香港的印象是怎样的，香港我是有空就去一下，但是每次很多时候都是为了买点东西，油尖旺地区就是目的地了(游客聚集的购物天堂嘛)，港岛几年没去过。
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-3</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">152浏览量</p>
						<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/travel3.html">阅读全文</a>
    				</div>
				</div>
				<div class="left-block" id="movie9">
    				<div class="container-fluid">
    					<a class="col-md-5 col-sm-12 col-xs-12" href="page/program.html"><img class="blockPho" src="images/program1/program.jpg"></a>
    					<div class="text col-md-7 col-sm-12 col-xs-12">
    						<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/program.html"><p><img class="sprite" src="images/program.png" alt="">想学编程语言？教你如何快速入门~</p></a>
							<span class="qianyan">在这个编程的时代，人们生活中的点点滴滴都已经有代码这东西介入。大到国家航天事业，小到家里面开个空调，空调里面单片机的芯片上都烧录的有代码，可见代码在我们生活中的重要性。想要学习编程语言，来，教你一招，快速入门~
							</span>
    					</div>
    				</div>
    				<div class="footer">
    					<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-2</p>
						<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">20浏览量</p>
						<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/program.html">阅读全文</a>
    				</div>
				</div>
				<div class="left-block" id="movie10">
						<div class="container-fluid">
							<a class="col-md-5 col-sm-12 col-xs-12" href="page/Linux1.html"><img class="blockPho" src="images/Linux/1.jpg"></a>
							<div class="text col-md-7 col-sm-12 col-xs-12">
								<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/Linux1.html"><p><img class="sprite" src="images/Linux.png" alt="">Linux第一篇---了解Linux</p></a>
								<span class="qianyan">21世纪的今天，大数据和云计算的出现使的我们从IT时代进入了DT时代，大量的数据存放在云端，很多服务转移到互联网上，只要联网，就可以随时随地的进行信息的访问、数据的处理与共享等操作，而不仅仅局限于本地客户端上，更加方便高效！
								</span>
							</div>
						</div>
						<div class="footer">
							<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-6</p>
							<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">102浏览量</p>
							<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Linux1.html">阅读全文</a>
						</div>
					</div>

					 <div class="left-block" id="movie11">
						<div class="container-fluid">
							<a class="col-md-5 col-sm-12 col-xs-12" href="page/Linux2.html"><img class="blockPho" src="images/Linux/2.jpg"></a>
							<div class="text col-md-7 col-sm-12 col-xs-12">
								<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/Linux2.html"><p><img class="sprite" src="images/Linux.png" alt="">Linux第二篇---在虚拟机上安装Linux</p></a>
								<span class="qianyan">在目前情况下，我们没有接触服务器，所以想要运行Linux只有通过虚拟机。虚拟机给大家推荐VMware,这个虚拟机功能很强大，用起来也很方便，下面课程将详细介绍~
								</span>
							</div>
						</div>
						<div class="footer">
							<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-11</p>
							<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">232浏览量</p>
							<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Linux2.html">阅读全文</a>
						</div>
					</div>

            <div class="left-block" id="movie12">
						<div class="container-fluid">
							<a class="col-md-5 col-sm-12 col-xs-12" href="page/Java1.html"><img class="blockPho" src="images/Java1/1.jpg"></a>
							<div class="text col-md-7 col-sm-12 col-xs-12">
								<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/Java1.html"><p><img class="sprite" src="images/program.png" alt="">Java中常见基本问题集合...</p></a>
								<span class="qianyan">一、什么是Java虚拟机？为什么Java被称作是“平台无关的编程语言”？答：Java虚拟机是一个可以执行Java字节码的虚拟机进程。Java源文件被编译成能被Java虚拟机执行的字节码文件。Java被设计成允许应用程序可以运行在任意的平台，而不需要程序员为每一个平台单独重写或者是重新编译。Java虚拟机让这个变为可能，因为它知道底层硬件平台的指令长度和其他特性。
								</span>
							</div>
						</div>
						<div class="footer">
							<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-2</p>
							<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">92浏览量</p>
							<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Java1.html">阅读全文</a>
						</div>
					</div>
					<div class="left-block" id="movie13">
						<div class="container-fluid">
							<a class="col-md-5 col-sm-12 col-xs-12" href="page/Java2.html"><img class="blockPho" src="images/Java1/2.png"></a>
							<div class="text col-md-7 col-sm-12 col-xs-12">
								<a onmousedown="mouseDown()" onmouseup="mouseUp()" href="Java2.html"><p><img class="sprite" src="images/program.png" alt="">Java第二课---晋级篇</p></a>
								<span class="qianyan">Java提供和支持创建抽象类和接口。它们的实现有共同点，不同点在于：接口中所有的方法隐含的都是抽象的。而抽象类则可以同时包含抽象和非抽象的方法。
								</span>
							</div>
						</div>
						<div class="footer">
							<p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-2</p>
							<p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">422浏览量</p>
							<a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Java2.html">阅读全文</a>
						</div>
					</div>

                    <div class="left-block" id="movie14">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/travel1.html"><img class="blockPho" src="images/travel1/1.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/travel1.html"><p><img class="sprite" src="images/travel.png" alt="">一人の体験2.0（一）--大学生穷游日本2019</p></a>
                            <span class="qianyan">大家好我是小K同学，大学一年生一枚，喜欢旅行。
                            本次图文的内容是我寒假去日本时候的精彩分享。
                            原来的标题应该是大学生穷游日本2.0的，因为这是我第二次一个人日本自由行啦。
                            第一次是在我高一暑假的时候，我妈叫我自己去，从此爱上日本，所以很多地方都比较有经验，我觉得这次的行程规划是最好的一次了👌比如交通，日本的住宿等等，下面会提及到。
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-1</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">102浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/travel1.html">阅读全文</a>
                    </div>
                </div>
                <div class="left-block" id="movie15">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/travel2.html"><img class="blockPho" src="images/travel2/1.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/travel2.html"><p><img class="sprite" src="images/travel.png" alt="">一人の体験2.0（二）--大学生穷游日本2019</p></a>
                            <span class="qianyan">热门问题top1！答案是我会日语,日语不会就用英语，我英语比较溜。再不行就body language好吧。其实我觉得出门在外,肯定是会一门外语比较好的,现在国际通用的不就是英语吗,我觉得学好英语挺重要的。如果你会当地的语言那肯定是加分项,听得懂也能更深入了解当地的文化。
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-1</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">14浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/travel1.html">阅读全文</a>
                    </div>
                </div>
                <div class="left-block" id="movie16">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/software1.html"><img class="blockPho" src="images/software1/3.png"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/software1.html"><p><img class="sprite" src="images/software.png" alt="">好软推荐第一期---一个木函</p></a>
                            <span class="qianyan">一个木函，何为木函？为什么要叫一个木函？相信很多人都有这个疑问。
                                百度一下，发现木函是如此意思：《后汉书·光武帝纪上》“大司徒邓禹入长安，遣府掾奉十一帝神主，纳於高庙” 李贤 注引 汉 卫宏 《旧汉仪》：“已葬，收主，为木函，藏庙太室中西壁坎中。”《晋书·成都王颖传》：“﹝司马颖﹞造浮桥以通河北，以大木函盛石，沉之以系桥，名曰石鳖。”
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-1</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">256浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/software1.html">阅读全文</a>
                    </div>
                </div>
                <div class="left-block" id="movie17">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/software3.html"><img class="blockPho" src="images/software3/1.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/software3.html"><p><img class="sprite" src="images/software.png" alt="">好软推荐第三期---Geek Uninstaller</p></a>
                            <span class="qianyan">Geek Uninstaller是一个由独立软件开发者用Visual C++ 2017,TinyXML和Boost开发的一个专用于软件卸载的软件。软件本体大小只有6M左右，不需安装，下载后直接使用，完全免费，非常方便。
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-12</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">132浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/software3.html">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie18">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/C1.html"><img class="blockPho" src="images/C/C.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/C1.html"><p><img class="sprite" src="images/program.png" alt="">C语言概述篇--了解C语言</p></a>
                            <span class="qianyan">学编程语言先学C语言，为什么呢？因为C语言是所有高级语言中最容易上手的一门。一个小白来看C语言的书，很容易看懂，只有后面章节的指针会有点难度，但只要你善于思考，还是可以掌握的。
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-2</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">102浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/C1.html">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie19">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/C2.html"><img class="blockPho" src="images/C/2.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/C2.html"><p><img class="sprite" src="images/program.png" alt="">C语言基础篇--入门必读</p></a>
                            <span class="qianyan">小编写这篇文章，就是让入门者轻松学习语言。满满的干货，等你来看。可以这么说，学高级语言先把C语言学好，那么之后再进阶其他高级语言的时候，就会很容易入门~
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-3</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">322浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/C2.html">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie20">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/C3.html"><img class="blockPho" src="images/C/3.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/C3.html"><p><img class="sprite" src="images/program.png" alt="">C语言基础练习题--小牛试刀</p></a>
                            <span class="qianyan">关键字：Fibonacci数列、圆的面积、序列求和、A+B问题~
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-4</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">152浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/C3.html">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie21">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/Java4.html"><img class="blockPho" src="images/Java1/3.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/Java4.html"><p><img class="sprite" src="images/program.png" alt="">今天补充一下Java基础内容--了解Java</p></a>
                            <span class="qianyan">前几篇内容直接讲了一些Java知识，忘记了给小萌新们讲解Java的基础内容了，今天来带领大家了解一下Java~
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-3</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">642浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Java4.html">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie22">
                    <div class="container-fluid">
                        <a target="_blank" class="col-md-5 col-sm-12 col-xs-12" href="https://pan.baidu.com/s/1udZjedoCPjhJ57ojWovk_g"><img class="blockPho" src="images/Java1/4.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" target="_blank" href="https://pan.baidu.com/s/1udZjedoCPjhJ57ojWovk_g"><p><img class="sprite" src="images/doc.png" alt="">五分钟编程，两小时扯淡。Java学习资料送给你~</p></a>
							<span id="qianyan">提取码：mdeh ^_^
							</span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-9</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">1452浏览量</p>
                        <a target="_blank" class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="https://pan.baidu.com/s/1udZjedoCPjhJ57ojWovk_g">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie23">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/JavaScript1.html"><img class="blockPho" src="images/Javascript/js.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/JavaScript1.html"><p><img class="sprite" src="images/program.png" alt="">带你初步了解js脚本语言，go!</p></a>
                            <span class="qianyan">JavaScript是一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-2</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">413浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/JavaScript1.html">阅读全文</a>
                    </div> 
                </div>

                <div class="left-block" id="movie24">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/JavaScript2.html"><img class="blockPho" src="images/Javascript/1.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/JavaScript2.html"><p><img class="sprite" src="images/program.png" alt="">js经典题目集合啦~</p></a>
                            <span class="qianyan">关键字：优化网页页面、null、undefined、new、JSON、js延迟加载、跨域、内存泄漏
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-3</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">651浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/JavaScript2.html">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie25">
                    <div class="container-fluid">
                        <a target="_blank" class="col-md-5 col-sm-12 col-xs-12" href="https://pan.baidu.com/s/1felNNi_0DG4f8_BV-TnXxw"><img class="blockPho" src="images/Python/1.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" target="_blank" href="https://pan.baidu.com/s/1felNNi_0DG4f8_BV-TnXxw"><p><img class="sprite" src="images/doc.png" alt="">Python第一期，网盘分享学习资料~</p></a>
                            <span class="qianyan">提取码：wsfp ^_^
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-9</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">362浏览量</p>
                        <a target="_blank" class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="https://pan.baidu.com/s/1felNNi_0DG4f8_BV-TnXxw">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie26">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/Web1.html"><img class="blockPho" src="images/Web/1.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/Web1.html"><p><img class="sprite" src="images/program.png" alt="">Web第一课--风里雨里，我在前端战场等你！~</p></a>
                            <span class="qianyan">前端在我们生活中是必不可少的东西，比如上网查个资料，上网页上看个电影，打开教务系统查个成绩等等。PC版、iPad版、手机版，它们都大同小异。这里，我们将见证一个前端攻城狮的诞生！
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-1</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">102浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Web1.html">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie27">
                    <div class="container-fluid">
                        <a target="_blank" class="col-md-5 col-sm-12 col-xs-12" href="https://pan.baidu.com/s/17eZBmSM85wk1ju3-ql5mAA"><img class="blockPho" src="images/Web/3.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" target="_blank" href="https://pan.baidu.com/s/17eZBmSM85wk1ju3-ql5mAA"><p><img class="sprite" src="images/program.png" alt="">Web第二炮，学习资料送给你！</p></a>
                            <span class="qianyan">提取码：vm8y ^_^
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-9</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">556浏览量</p>
                        <a target="_blank" class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="https://pan.baidu.com/s/17eZBmSM85wk1ju3-ql5mAA">阅读全文</a>
                    </div> 
				</div>
				<div class="left-block" id="movie28">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/Linux3.html"><img class="blockPho" src="images/Linux/3.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/Linux3.html"><p><img class="sprite" src="images/program.png" alt="">Linux到底学什么？讲完下节课开始命令操作！</p></a>
                            <span class="qianyan">我们常常听到很多人说要学学Linux或者被人告知说应该学学Linux，那么学Linux到底要学什么？
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-12</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">536浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Linux3.html">阅读全文</a>
                    </div> 
                </div>
                <div class="left-block" id="movie29">
                    <div class="container-fluid">
                        <a class="col-md-5 col-sm-12 col-xs-12" href="page/Web3.html"><img class="blockPho" src="images/Web3/0.jpg"></a>
                        <div class="text col-md-7 col-sm-12 col-xs-12">
                            <a onmousedown="mouseDown()" onmouseup="mouseUp()" href="page/Web3.html"><p><img class="sprite" src="images/hot.png" alt=""><img class="sprite" src="images/program.png" alt="">Open Source！关于本网站简单站内搜索功能的实现</p></a>
                            <span class="qianyan">现在世界上最牛X的搜索引擎绝对是谷歌（Google）无疑了；百度（Baidu）因为符合中国国情成为全球最大的中文搜索引擎；必应（Bing）则在国内知名度不高，不温不火，但我觉得还是挺好用的。最近看见别人的个人小网站也有自己的站内搜索突然羡慕，决定在本网站中也做一个出来。
                            </span>
                        </div>
                    </div>
                    <div class="footer">
                        <p class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-calendar">2019-10-14</p>
                        <p class="col-md-2 col-sm-2 glyphicon glyphicon-eye-open hidden-xs">56浏览量</p>
                        <a class="col-md-2 col-sm-2 col-xs-2 glyphicon glyphicon-chevron-right" href="page/Web3.html">阅读全文</a>
                    </div> 
                </div>

				<script>indexRefreshment()</script>
			</div>

    		<div class="right col-md-4 hidden-xs hidden-sm" id="right">
                <div class="searchBlock">
                    <p>站内搜索</p>
                    <div class="searchBlock-inner">
                        <form id="main" v-cloak onsubmit="return false">
                            <div class="searchBox">
                                <input id="searchInput" class="col-md-10 col-md-offset-1" type="text" v-model="searchString" placeholder="Hello World !" onkeydown="searchEnter()"/>
                                <p id="search_p" onclick="searchClick()">搜索</p>
                            </div>
                            <ul id="searchList" class="searchList">
                                <!-- 循环输出数据 -->
                                <li v-for="article in filteredArticles">
                                    <a v-bind:href="article.url" target="_blank"><p>{{article.title}}</p></a>
                                </li>
                            </ul>
                        </form>
                        <script>search()</script>
                    </div>
                </div>

                <div class="right-block" style="background:-webkit-linear-gradient(left,#c6cfd8,#d4d8e1,#f1f2f6)">
                    <img style="margin-bottom: 30px;" class="right-block-header" src="images/dianxiebg.jpg">
                    <a style="text-decoration: none;display: block;" href="https://u.eqxiu.com/s/JfuKBIyf" target="_blank"><p style="font-family:华文彩云;font-size: 40px;line-height:40px;text-align: center; font-weight: bold;">电子协会<br>程序设计部</p></a>
                </div>

    			<div class="right-block">
					<img class="right-block-header" src="images/right-block-header.jpg">
					<img class="avatar" src="images/avatar1.jpg">
					<p style="text-align: center;">我有拖延症，唯独改bug不会拖延。</p><sub>--开发者@_小K同學</sub>
				</div>

				<div class="right-block" style="background-color: #CCFFFF;">
					<img class="right-block-header" src="images/right-block-header2.jpg">
					<img class="avatar" src="images/avatar2.jpg">
					<p style="text-align: center;">编程五分钟，扯淡两小时。</p><sub>--开发者@DD_fighter</sub>
				</div>

				<div class="right-block" style="height:140px;">
					<p style="font-size: 20px; padding-top:20px;padding-left:20px;padding-right: 20px; padding-bottom:10px;">历史上的今天<span style="float: right;font-size: 14px;" id="date"></span></p>
					<div id="history" class="right-block-inner">
                        <p style="margin-top: 10px;"><script type="text/javascript">history()</script></p>
                    </div>
				</div>

                <div class="right-block" style="height: 160px; background-color: #CCFFFF"><!-- 友情链接 -->
                    <p style="font-size: 20px; padding-top:20px;padding-left:20px;padding-right: 20px; padding-bottom:10px;">友♂情链接<span style="float: right;font-size: 14px;">
                    </span></p>
                    <div class="right-block-inner">
                        <ul style="padding-left: 20px;">
                            <li><a class="friend glyphicon glyphicon-link" href="www.coolapk.com"> 酷安</a></li>
                            <li><a class="friend glyphicon glyphicon-link" href="dongzaizhan.xyz"> 东仔站</a></li>
                        </ul>
                    </div>
                </div>

            </div>
    	</div>

        <!-- 返回顶部 -->
    	<a class="returnTop hidden-xs" href="javascript:returnTop()">
			<img src="images/returnTop.png">
		</a>
        <!-- 捐赠入口 -->
        <div class="hidden-xs" id="donate">
            <div id="lg_donate">
                <img onclick="pay()" class="img1" src="images/donate.png" layer-src="images/pay.jpg" alt="支持是给予我们最大的动力！">
            </div>
        </div>
    	<div class="container-fluid">
	    	<div class="bottom">
				<p class="bold">！！本页内容如需转载请经过站主许可，转载请注明出处！！</p></br>
				<p>COPYRIGHT © 2019 ORGLOFT.COM ALL RIGHTS RESERVED</p></br>
				<p>THIS WEBSITE IS A PERSONAL WEBSITE FOR EVERYONE TO LEARN AND COMMUNICATE</p></br>
				<p>ABOUT US：DEVELOPER <a class="coolapk" href="https://www.coolapk.com/" target="_blank">酷安</a> @_小K同學 & @DD_fighter<br><br></p>
				<div class="hidden-xs hidden-sm hidden-md" id="bottom-inner">
				<span id="busuanzi_container_site_pv">本站总访问量<span id="all_value_site"></span>次</span> | 本站今日访客数<span id="today_value_site"></span>人次
				</div>
			</div>
		</div>

	</body>
</html>
